body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #162156;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

#secao1 {
    padding-top: 80px;
    background: #DDA853;
}

#secao2 {
    background: #DDA853;
}

#secao2 input[type="search"] {
    width: 700px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
}

#secao2 input[type="search"]::placeholder {
    color: #162156;
}

#secao2 form {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

#secao2 button {
    background-color: #162156;
    border-radius: 20px;
    border: none;
    color: #f2f1f1;
    cursor: pointer;
    height: 40px;
    width: 100px;
}

#secao2 button:hover {background-color: #27548A}

#secao2 iframe {
    width: 40%;
    height: 300px;
}

#secao2 #pesquisa {
    text-align: center;
}

#secao3 {
    background: #DDA853;
}

#secao4 {
    background: #DDA853;
}

#secao4 form {
    text-align: center;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 28%;
}

#secao4 input[type="text"]::placeholder {
    background-color: #e7e7e7;
}

#secao4 textarea {
    resize: vertical;
    overflow: auto;
    border: 1px solid;
    height: 45px;
    border-color: #959595;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

#secao4 input[type="text"] {
    border: 1px solid;
    height: 45px;
    border-color: #959595;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding-left: 15px;
}

#secao4 button {
    background-color: #162156;
    border: none;
    border-radius: 10px;
    color: #f2f1f1;
    cursor: pointer;
    height: 45px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #030303;
    color: white;
    position: relative;
}

footer button {
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #e7e7e7;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 460px;
    object-fit: cover;
}

.ator p {
    background-color: #f6f6ff;
    padding: 15px;
    border-radius: 12px;
}

.ator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 99%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}