body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 77px 0px;
    overflow-x: hidden;
}

/*START HEADER*/
header {
    background: #162156;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.carousel-inner img {
    width: 100%;
    object-fit: cover;
}

header .container-fluid {
    position: relative;
    z-index: 10;
}
/*END HEADER*/

/*START SEÇÃO 1*/
#secao1 {
    background: #2c2c34;
    padding-top: 75px;
}
/*END SEÇÃO 1*/

/*START SEÇÃO 2*/
#secao2 {
    background: #2c2c34;
}

#secao2 input[type="search"] {
    width: 700px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
}

#secao2 input[type="search"]::placeholder {
    color: #162156;
}

#secao2 form {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

#secao2 button {
    background-color: #162156;
    border-radius: 20px;
    border: none;
    color: #f2f1f1;
    cursor: pointer;
    height: 40px;
    width: 100px;
}

#secao2 button:hover {background-color: #27548A}

#secao2 iframe {
    width: 40%;
    height: 400px;
}

#secao2 #pesquisa {
    text-align: center;
}
/*END SEÇÃO 2*/

/*START SEÇÃO 3*/
#secao3 {
    background: #2c2c34;
}

.ator img {
    height: 460px;
    object-fit: cover;
}

.ator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.card {
    max-width: 100%;
}
/*END SEÇÃO 3*/

/*START SEÇÃO 4*/
#secao4 {
    background: #2c2c34;
}

#secao4 form {
    text-align: center;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 28%;
}

#secao4 input[type="text"]::placeholder {
    background-color: #e7e7e7;
}

#secao4 textarea {
    resize: vertical;
    overflow: auto;
    border: 1px solid;
    height: 45px;
    border-color: #959595;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

#secao4 input[type="text"] {
    border: 1px solid;
    height: 45px;
    border-color: #959595;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding-left: 15px;
}

#secao4 button[type="submit"] {
    background-color: #162156;
    border: none;
    border-radius: 10px;
    color: #f2f1f1;
    cursor: pointer;
    height: 45px;
}

#secao4 button[type="button"] {
    background-color: #E9A319;
    border: none;
    border-radius: 10px;
    color: #f2f1f1;
    cursor: pointer;
    height: 45px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
}

#secao4 .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-right: 98px;
}

/*END SEÇÃO 4*/

/*START FOOTER*/
footer {
    text-align: center;
    padding: 10px 0;
    background: #030303;
    color: white;
    position: relative;
}

footer button {
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #e7e7e7;
}

a {
    text-decoration: none;
    color: inherit;
}
/*END FOOTER*/